body {
    background-color: rgb(116, 115, 115);
}

.title {
    height: 120px;
    color:antiquewhite;
    font-size: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(55, 56, 56);
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;;
    flex-wrap: wrap;
}

.image {
    background-color: rgb(182, 179, 179);
    border: 6px solid rgb(90, 87, 87);
    height: auto;
    width: 300px;
    margin: 50px;
}

 .image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

p {
    font-weight: bold;
    flex-grow: 0;
    color:aliceblue;
    font-size: 36px;
    margin: 0;
}