body {
    background-color: rgb(233, 159, 90);
}

.title {
    height: 120px;
    color:antiquewhite;
    font-size: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(114, 102, 87);
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;;
    flex-wrap: wrap;
}

.image {
    background-color: rgb(228, 190, 154);
    border: 6px solid rgb(179, 27, 27);
    height: auto;
    width: 300px;
    margin: 50px;
}

 .image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

p {
    font-weight: bold;
    flex-grow: 0;
    color:rgb(74, 75, 77);
    font-size: 36px;
    margin: 0;
    font-weight: bold;
}